---
import Layout from '../layouts/Layout.astro';
import Sl from '../components/Sl'
import Cronometro from '../components/Cronometro';
import Modal from '../components/Modal'
import Prueba from '../components/Prueba'
---

<Layout title="Welcome to Astro.">
	<div class="overflow-hidden flex flex-col items-center justify-center">
		<Sl client:load/>
		<Cronometro client:visible/>
		<Modal client:load/>
		<Prueba client:visible/>
	</div>
	
</Layout>
